*{
    margin: auto;
    padding: 0;
}

body{
    background-color: rgb(109, 151, 141);
}

.max-width{
    max-width: 500px;
    width: 30%;
    padding: 23px;
    box-sizing: border-box;
    margin-top: 26%;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 10px 10px 20px rgb(158, 200, 81);
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

button{
    padding: 10px;
    border: none;
    font-size: 1.1rem;
    transition: all .5s;
    cursor: pointer;
    border-radius: 25px;
}

button:hover{
    background-color: #a1c0d1;
}

.bg-green{
    background-color: #b2d1a1;
}

.bg-yellow{
    background-color: #d1cba1;
}

.bg-red{
    background-color: #ac6464;
}